@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

:root {
    --font-display: "Open Sans", sans-serif;
    --breakpoint-3xl: 1920;
    --color-primary: #875cf5;
}

@layer base {
    html {
        font-family: var(--font-display), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }

    body {
        background-color: #fcfbfc;
        overflow-x: hidden;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.background-animate {
    background-size: 1000px 100%;
    animation: shimmer 2s infinite;
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
}
